{
  "rules": {
    "no-console": "warn",
    "vue/component-tags-order": [
      "error",
      {
        "order": [["template", "script"], "style"]
      }
    ]
  },
  "extends": ["@antfu", "@unocss/eslint-config"]
}
