{
  "rules": {
    "no-console": "warn",
    "vue/component-tags-order": [
      "error",
      {
        "order": [["template", "script"], "style"]
      }
    ],
    "vue/valid-attribute-name": "off",
    "@typescript-eslint/brace-style": [
      "error",
      "1tbs",
      { "allowSingleLine": true }
    ]
  },
  "extends": ["@antfu", "@unocss/eslint-config"]
}
